.shopping-cart {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.shopping-cart h2 {
  text-align: center;
}

.shopping-cart ul {
  list-style: none;
  padding: 0;
}

.shopping-cart li {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align items evenly */
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.shopping-cart li:last-child {
  border-bottom: none;
}

.shopping-cart img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.shopping-cart h3 {
  margin: 0;
}

.shopping-cart p {
  margin: 5px 0;
}

.shopping-cart button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.shopping-cart button:hover {
  background-color: #0056b3;
}

.shopping-cart button:focus {
  outline: none;
}

.shopping-cart .message {
  text-align: center;
  color: #888;
  font-style: italic;
  margin-top: 20px;
}

.shopping-cart .remove-button {
  background-color: #dc3545; /* Red color for remove button */
}

.shopping-cart .checkout-button{
  margin-top: 15px;
}